In [89]:
import pandas as pd
import os
import dotenv

dotenv.load_dotenv()
BASE_DIR = os.getcwd()

# Import Excel

In [90]:
excel_path = "disposition_code_ref_table.xlsx"

df = pd.read_excel(os.path.join(BASE_DIR, excel_path))
df.drop(columns=["Konkatenasi_Layer123"], inplace=True)

# 0. CLEAN DATA

In [91]:
def strip_all():
    df["Layer 1"] = df["Layer 1"].str.strip()
    df["Layer 2"] = df["Layer 2"].str.strip()
    df["Layer 3"] = df["Layer 3"].str.strip()

    df.fillna(" ", inplace=True)

df.loc[df["Layer 1"].str.contains("General Customer"), "Layer 1"] = df["Layer 1"].str.split(regex=r" (General Customer)").str[0]
strip_all()
# print(df["Layer 1"].value_counts())
df.replace({"Credit Cards": "Credit Card",
            "Kartu Kredit": "Credit Card",
            "Credit Card Suppl": "Credit Card Supplementary",
            "Kartu Debit": "Debit Card",
            "Watsapp": "Whatsapp",
            "Octo": "OCTO",
            "Transaksi  1500800": "Transaksi 1500800",
            "Pembesihan": "Pembersihan",
            r" /": "/",
            r"/ ": "/",
            r"/": "/ ",
            "Sevices": "Services",
            "Top UP": "Top Up",
            "Others": "Other",
            "E-mandate": "E-Mandate",
            "Belum Terima": "Tidak Terima",
            "Belum Menerima": "Tidak Terima",
            "Tidak Menerima": "Tidak Terima",
            "Vending Other": "Vending Machine Other",
            "CNY": "Customer Preferred Valas Chinese Yuan",
            "CP Blast": "Customer Preferred Blast",
            "CP Staff": "Customer Preferred Staff",
            "CPVALAS": "Customer Preferred Valas",
            "CPDORMANT": "Customer Preferred Dormant",
            "Done Contact Center Dok KTP Supplement": "Contact Center Dok KTP Supplement",
            "Done Telesales Dok KTP Supplement": "Telesales Dok KTP Supplement",
            # "KPR": "Kredit Pemilikan Rumah",
            # "KPM": "Kredit Pemilikan Mobil",
            "XKB ": "XKB: ",
            # "KTA": "Kredit Tanpa Agunan",
            # "PL": "Personal Loan",
            # "CDM": "CDM (Cash Deposit Machine)",
            # "CRM": "CRM (Cash Recycling Machine)",
            # "EDC": "EDC (Electronic Data Capture)",
            # "CNAF": "CNAF (CIMB Niaga Auto Finance)",
            # "KTA": "KTA (Kredit Tanpa Agunan)",
            # "ARO": "ARO (Automatic Roll Over)",
            # "PCL": "PCL (Permanent Credit Limit)",
            # "TCL": "TCL (Temporary Credit Limit)",
            # "POH": "POH (Pembantu Operasional Harian)",
            # "SPV": "SPV (Supervisor)",
            # "CC": "CC (Credit Card)",
            # "SLIK": "SLIK (Sistem Layanan Informasi Keuangan)",
            # "DSE": "DSE (Digital Sales Enablement)",
            },regex=True, inplace=True)
# print(df["Layer 1"].value_counts())

strip_all()
df.loc[df["Layer 3"].str.contains(": "), "Layer 3"] = df["Layer 3"].str.split(": ").str[1]
strip_all()
# print(df["Layer 1"].value_counts())
# len(df["Layer 3"].unique())
df

       Layer 1     Layer 2                       Layer 3
0     Complain  Branchless  ATM Barang Jatuh Di Area ATM
1     Complain  Branchless               ATM Gagal Tarik
2     Complain  Branchless           ATM Gagal Transaksi
3     Complain  Branchless  ATM Jumlah Uang Tidak Sesuai
4     Complain  Branchless   ATM Kebersihan/ Kelengkapan
...        ...         ...                           ...
1163     Sales         KTA   Sales Done CC KTP Non Leads
1164     Sales         KTA            Sales Unidentified
1165  Eskalasi    Eskalasi             Kontak  VDN Staff
1166  Eskalasi    Eskalasi               Kontak POH/ SPV
1167  Eskalasi    Eskalasi           Kontak Other Places

[1168 rows x 3 columns]

## 1. Move from layer 3 to layer 2

In [103]:
def split_layer3to2(layer2_name:str, layer3_product_list:list, layer2_prefix:str="", layer2_postfix:str=""):
    for product in layer3_product_list:
        # Create boolean mask
        mask = (
                (df["Layer 2"] == layer2_name)
                & ((df["Layer 3"].str.startswith(product)) | (df["Layer 3"].str.endswith(product)))
        )

        # Update Layer 2 using boolean indexing
        df.loc[mask, "Layer 2"] = layer2_prefix + product + layer2_postfix

        # Create a second mask based on the updated Layer 2
        mask2 = ((
                        df["Layer 2"] == layer2_prefix + product + layer2_postfix)
                 & ((df["Layer 3"].str.startswith(product)) | (df["Layer 3"].str.endswith(product)))
             )

        # Update Layer 3 using vectorized string operations and boolean indexing
        df.loc[mask2, "Layer 3"] = df.loc[mask2, "Layer 3"].str.split(product).str[1]
    strip_all()

    return df

branchless_products = ["ATM/ CDM/ CRM",
                           "ATM",
                           "CDM",
                           "CRM",
                           "Kartu Debit",
                           "Debit Card",
                           "OCTO Clicks",
                           "OCTO Mobile",
                           "OCTO Pay",
                           "QRIS",
                           "Rekpon",
                           ]
split_layer3to2('Branchless', branchless_products)
new_Df = df[df["Layer 2"] == "ATM"]
new_Df

      Layer 1 Layer 2                            Layer 3
0    Complain     ATM               Barang Jatuh Di Area
1    Complain     ATM                        Gagal Tarik
2    Complain     ATM                    Gagal Transaksi
3    Complain     ATM           Jumlah Uang Tidak Sesuai
4    Complain     ATM            Kebersihan/ Kelengkapan
5    Complain     ATM                       Mesin Lambat
6    Complain     ATM                              Other
7    Complain     ATM                           Penipuan
8    Complain     ATM                         Uang Palsu
9    Complain     ATM                         Uang Rusak
406   Inquiry     ATM               Barang Jatuh Di Area
407   Inquiry     ATM           Jumlah Uang Tidak Sesuai
706   Request     ATM               Barang Jatuh Di Area
707   Request     ATM                              Fitur
708   Request     ATM           Jumlah Uang Tidak Sesuai
709   Request     ATM                              Other
710   Request     ATM  Pembersihan/ Pengisian/ Perbaikan
711   Request     ATM                         Penambahan

In [106]:
services_products = ["Biz Channel OCTO Merchant",
                     "Biz Channel",
                     "Social Media",
                     "Website",
                     "Contact Center",
                     "Whatsapp",
                     "Digital Lounge",
                     "Phone Banking",
                     "E-mail",
                     "EDC",
                     "Branch",
                     "Live Chat",
                     "Preferred",
                     "Chatbot",
                     "Transaksi 1500800",
                     "Vending Machine",
                     "Telesales",
                     "Restrukturisasi Kredit",
                     "Poin Xtra",
                     "Collection",
                     "Beasiswa",
                     "Asuransi",
                     ]
split_layer3to2('Services', services_products)
newDf = df[df["Layer 2"] == "Social Media"]
newDf

                     Layer 1       Layer 2                 Layer 3
256                 Complain  Social Media         Cakupan Layanan
257                 Complain  Social Media               Interaksi
258                 Complain  Social Media                   Other
376               Compliment  Social Media
404         Feedback/ Report  Social Media
628                  Inquiry  Social Media  Fitur/ Cakupan Layanan
629                  Inquiry  Social Media                   Other
925                  Request  Social Media                   Other
1027  Report Status Checking  Social Media

In [59]:
lending_products = ["KTA/ PL",
                    "KPR",
                    "KPM",
                    "Refinancing (Multi Guna)",
                    "Xtra Kasbon",
                    ]
split_layer3to2('Lending', lending_products)
# , "Lending: ")

       Layer 1   Layer 2                      Layer 3
0     Complain       ATM         Barang Jatuh Di Area
1     Complain       ATM                  Gagal Tarik
2     Complain       ATM              Gagal Transaksi
3     Complain       ATM     Jumlah Uang Tidak Sesuai
4     Complain       ATM      Kebersihan/ Kelengkapan
...        ...       ...                          ...
1163     Sales       KTA  Sales Done CC KTP Non Leads
1164     Sales       KTA           Sales Unidentified
1165  Eskalasi  Eskalasi            Kontak  VDN Staff
1166  Eskalasi  Eskalasi              Kontak POH/ SPV
1167  Eskalasi  Eskalasi          Kontak Other Places

[1168 rows x 3 columns]

In [60]:
funding_products = ["Tabungan",
                    "Giro",
                    "Deposito",
                    "Obligasi",
                    "Reksa Dana",
                    ]
split_layer3to2('Funding', funding_products)
# , "Funding: ")

       Layer 1   Layer 2                      Layer 3
0     Complain       ATM         Barang Jatuh Di Area
1     Complain       ATM                  Gagal Tarik
2     Complain       ATM              Gagal Transaksi
3     Complain       ATM     Jumlah Uang Tidak Sesuai
4     Complain       ATM      Kebersihan/ Kelengkapan
...        ...       ...                          ...
1163     Sales       KTA  Sales Done CC KTP Non Leads
1164     Sales       KTA           Sales Unidentified
1165  Eskalasi  Eskalasi            Kontak  VDN Staff
1166  Eskalasi  Eskalasi              Kontak POH/ SPV
1167  Eskalasi  Eskalasi          Kontak Other Places

[1168 rows x 3 columns]

In [61]:
preferred_products = ["Poin Xtra",
                      "Customer Preferred Valas",
                      "Personal Credit Line (PCL)",
                      "PVI (Program Green Lane)",
                      ]
split_layer3to2('Program Preferred Blast', preferred_products)
#, "Preferred: ")

       Layer 1   Layer 2                      Layer 3
0     Complain       ATM         Barang Jatuh Di Area
1     Complain       ATM                  Gagal Tarik
2     Complain       ATM              Gagal Transaksi
3     Complain       ATM     Jumlah Uang Tidak Sesuai
4     Complain       ATM      Kebersihan/ Kelengkapan
...        ...       ...                          ...
1163     Sales       KTA  Sales Done CC KTP Non Leads
1164     Sales       KTA           Sales Unidentified
1165  Eskalasi  Eskalasi            Kontak  VDN Staff
1166  Eskalasi  Eskalasi              Kontak POH/ SPV
1167  Eskalasi  Eskalasi          Kontak Other Places

[1168 rows x 3 columns]

In [62]:
other_products = ["Poin Xtra",
                  "Asuransi",
                  "Vending Machine",
                  "Collection",
                  "Beasiswa",
                  "Telesales",
                  "Restrukturisasi Kredit",
                  ]
split_layer3to2('Other', other_products)

       Layer 1   Layer 2                      Layer 3
0     Complain       ATM         Barang Jatuh Di Area
1     Complain       ATM                  Gagal Tarik
2     Complain       ATM              Gagal Transaksi
3     Complain       ATM     Jumlah Uang Tidak Sesuai
4     Complain       ATM      Kebersihan/ Kelengkapan
...        ...       ...                          ...
1163     Sales       KTA  Sales Done CC KTP Non Leads
1164     Sales       KTA           Sales Unidentified
1165  Eskalasi  Eskalasi            Kontak  VDN Staff
1166  Eskalasi  Eskalasi              Kontak POH/ SPV
1167  Eskalasi  Eskalasi          Kontak Other Places

[1168 rows x 3 columns]

# 2. Remove postfix and prefix

In [63]:
def remove_prefix(layer, suffix):
    mask = df[layer].str.startswith(suffix)
    df.loc[mask, layer] = df.loc[mask, layer].str.replace(suffix, '').str.strip()

def remove_postfix(layer, suffix):
    df.loc[df[layer].str.endswith(suffix), layer] = df[layer].str.split(suffix).str[0].str.strip()

In [64]:
# split_layer3to2('Telesales Dok KTP Supplement', ["Telesales"])
# split_layer3to2('Done Telesales Dok KTP Supplement', ["Telesales Done"])
# split_layer3to2('Done Contact Center Dok KTP Supplement', ["Done Contact Center"])
# split_layer3to2('Contact Center Dok KTP Supplement', ["Contact Center"])
remove_postfix("Layer 3", "Contact Center")
remove_postfix("Layer 3", "Telesales")
remove_prefix("Layer 3", "Credit Card")

# 3. Move from layer 2 to layer 3

In [65]:
import numpy as np

def split_layer2to3(layer2_product_list:list, layer2_name:str, layer3_prefix:str="", layer3_postfix:str=""):
    for product in layer2_product_list:
        df["Layer 3"] = np.where(
                (df["Layer 2"] == product),
            layer3_prefix + product + layer3_postfix + df["Layer 3"],
            df["Layer 3"])
        df["Layer 2"] = np.where(
                (df["Layer 2"] == product),
            layer2_name,
            df["Layer 2"])
    strip_all()

In [109]:
credit_card_products = [
        "Credit Card",
        "Credit Card Aktivasi Accor Platinum",
        "Credit Card Aktivasi Accor World",
        "Credit Card Basic",
        "Credit Card General",
        "Credit Card Inactive & Dormant",
        "Credit Card Stickiness CPROT",
        "Credit Card Stickiness Non-Activated",
        "Credit Card Supplementary",
        "Credit Card Tendency Card",
    ]
split_layer2to3(credit_card_products, "Credit Card", "[", "] ")

remove_prefix("Layer 3", "[Credit Card]")

       Layer 1      Layer 2                                            Layer 3
69    Complain  Credit Card                       Airport Pick up and Services
70    Complain  Credit Card                                   Aktivasi dan PIN
71    Complain  Credit Card                           Tidak Terima Credit Card
72    Complain  Credit Card                                Biaya/ Bunga/ Denda
73    Complain  Credit Card                     Cicilan (Bunga/ Jumlah/ Tenor)
...        ...          ...                                                ...
1133     Sales  Credit Card  [Credit Card Supplementary] Sales Req Dihubung...
1134     Sales  Credit Card           [Credit Card Supplementary] Sales Setuju
1135     Sales  Credit Card  [Credit Card Supplementary] Sales Tidak Mau Di...
1136     Sales  Credit Card     [Credit Card Supplementary] Sales Tidak Setuju
1137     Sales  Credit Card     [Credit Card Supplementary] Sales Wrong Number

[215 rows x 3 columns]

# 4: Feedback/Report and Report Status Checking -> Report Status

In [67]:
df.loc[df["Layer 1"] == "Report Status Checking", "Layer 3"] = "Status Open"
df.loc[df["Layer 1"] == "Feedback/ Report", "Layer 3"] = "Status Closed"
df.loc[df["Layer 1"] == "Report Status Checking", "Layer 1"] = "Report Status"
df.loc[df["Layer 1"] == "Feedback/ Report", "Layer 1"] = "Report Status"

# 5. Group Labels

In [68]:
def group_label(layer:str, list_of_labels:list[str], result_label:str):
    strip_all()
    for label in list_of_labels:
        df.loc[df[layer].str.contains(label), layer] = result_label
    strip_all()

group_label("Layer 1", ["Spam", "Ongoing", "Miscellaneous", "Test"], "Other")
group_label("Layer 1", ["Sales", "Campaign"], "Campaign/ Sales")

group_label("Layer 3", ["Promo/ Voucher", "Promo/ Voucher/milliage", "Promo/ Voucher/ Milliage", "Promo/ Voucher/Milliage"], "Promo/ Voucher/ Mileage")
group_label("Layer 3", ["Prank Call/ Spam Call/ Bogus Call"], "Spam")
group_label("Layer 3", ["Penerbitan", "Penggantian"], "Penerbitan/ Penggantian")

# 6. Swapping Layers

In [69]:
def swap_layers(layer_name_1: str, layer_name_2: str, layer_name_1_contain: str = "", layer_name_2_contain: str = ""):
    # Create a boolean mask for rows where both conditions are met
    mask = (df[layer_name_1].str.contains(layer_name_1_contain, na=False) &
            df[layer_name_2].str.contains(layer_name_2_contain, na=False))

    # Use .loc with simultaneous assignment for the swap
    df.loc[mask, [layer_name_1, layer_name_2]] = df.loc[mask, [layer_name_2, layer_name_1]].values

# test0 = df.loc[df["Layer 2"].str.contains("Whatsapp")]
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_1_contain="Other")
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_1_contain="Salah Nama",layer_name_2_contain="Other")
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_1_contain="Test",layer_name_2_contain="Other")
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_1_contain="Chat lanjutan",layer_name_2_contain="Other")
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_1_contain="Info belum lengkap",layer_name_2_contain="Other")
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_2_contain="OCTO ")
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_1_contain="Whatsapp")
swap_layers(layer_name_1="Layer 2",layer_name_2="Layer 3",layer_name_1_contain="Blast")

# test1 = df.loc[df["Layer 3"].str.contains("Whatsapp")]
# print(test0)
# print(test1)

# 7. Targeted Cleaning

In [70]:
df.loc[(df["Layer 1"] == "Other") & (df["Layer 2"] == "Salah layanan"), "Layer 2"] = "Other"
df.loc[(df["Layer 1"] == "Other") & (df["Layer 2"] == "Spam"), "Layer 2"] = "Other"
df.loc[df["Layer 3"] == "No", "Layer 3"] = "Tidak Setuju"
df.loc[df["Layer 2"] == "Contact", "Layer 2"] = "Contact Center"

# test7 = df.loc[(df["Layer 2"] == "Other") & (df["Layer 1"] == "Other")]
# test7

# 8. Cleaning Empty Data

In [71]:
strip_all()
df.loc[df["Layer 1"] == "", "Layer 1"] = None
df.loc[df["Layer 2"] == "", "Layer 2"] = None
df.loc[df["Layer 3"] == "", "Layer 3"] = None
df.fillna("Other", inplace=True)
df.drop_duplicates(inplace=True)
# df.sort_values(by=["Layer 1","Layer 2","Layer 3"],inplace=True)
# print(df.size//3)

## Get data By Product Name

In [72]:
df["Layer 1"].value_counts()

Layer 1
Complain           339
Inquiry            295
Request            290
Campaign/ Sales    131
Report Status       53
Compliment          31
Other                6
Eskalasi             3
Name: count, dtype: int64

In [73]:
get_data_by_product = df.loc[
    (df["Layer 2"] == "Credit Card")
    & (df["Layer 1"].str.contains("Complain"))
]

distinct_values = len(df["Layer 3"].unique())

## Create JSON from action to product

In [74]:
import json

action_to_product = {}

for _, row in df.iterrows():
    action, product, detail = row.iloc[0].strip(), row.iloc[1].strip(), row.iloc[2].strip()

    if action not in action_to_product:
        action_to_product[action] = []

    if product not in action_to_product[action]:
        action_to_product[action].append(product)

action_to_product_json = json.dumps(action_to_product, indent=2)

# create json file
with open("action_to_product.json", "w") as f:
    f.write(action_to_product_json)

## Create JSON from product to action

In [75]:
import json

product_to_action = {}

for _, row in df.iterrows():
    action, product, detail = row.iloc[0].strip(), row.iloc[1].strip(), row.iloc[2].strip()

    if product not in product_to_action:
        product_to_action[product] = []

    if action not in product_to_action[product]:
        product_to_action[product].append(action)

product_to_action_json = json.dumps(product_to_action, indent=2)

# create json file
with open("product_to_action.json", "w") as f:
    f.write(product_to_action_json)

## Create JSON from (action_product) to detail

In [76]:
action_product_to_detail = {}

for _, row in df.iterrows():
    action_product, detail =f"{row.iloc[0].strip()}|{row.iloc[1].strip()}", row.iloc[2].strip()

    if action_product not in action_product_to_detail:
        action_product_to_detail[action_product] = []

    if detail not in action_product_to_detail[action_product]:
        action_product_to_detail[action_product].append(detail)

result = json.dumps(action_product_to_detail, indent=2)

# create json file
with open("action_product_to_detail.json", "w") as f:
    f.write(result)

# Create Excell from Ref Table Cleaned

In [77]:
df["Konkatenasi_Layer123"] = df["Layer 1"] + "|" + df["Layer 2"] + "|" + df["Layer 3"]

df.to_excel("disposition_code_ref_table_cleaned.xlsx", index=False)

# READ JSON FILE

In [82]:
# load json file
with open('action_to_product.json', 'r') as f:
    data = json.load(f)

df = pd.DataFrame(data.items(), columns=["Action", "Product"])

In [87]:
df["Product_Count"] = df["Product"].apply(len)
df

,Action,Product,Product_Count
0,Complain,"[ATM, CDM, CRM, Debit Card, OCTO Clicks, OCTO ...",94
1,Compliment,"[ATM/ CDM/ CRM, Debit Card, OCTO Clicks, OCTO ...",30
2,Report Status,"[ATM/ CDM/ CRM, Debit Card, OCTO Clicks, OCTO ...",27
3,Inquiry,"[ATM, ATM/ CDM/ CRM, CDM, CRM, Debit Card, OCT...",95
4,Request,"[ATM, CDM, CRM, Debit Card, OCTO Clicks, OCTO ...",95
5,Other,[Other],1
6,Campaign/ Sales,"[CNAF, Credit Card, Telesales Dok KTP Suppleme...",15
7,Eskalasi,[Eskalasi],1