In [17]:
import pandas as pd
import json

card_df = pd.read_excel('data/no_kartu_accuracy.xlsx')
card_df

,interaction_id,No kartu yang disebutkan nasabah,Nomor kartu yang muncul di Summary Conversation,Cleaned Disebutkan,Cleaned Summary,cer no kartu
0,yAysdV,5244621811243450,52446121811243400,5244621811243450,52446121811243400,0.125000
1,oNeJTv,5336740901172620,533674090117,5336740901172620,533674090117,0.250000
2,buRfJA,5336400012241990,533640001224,5336400012241990,533640001224,0.250000
3,vWXMGx,3323042301990000,42301999000,3323042301990000,42301999000,0.375000
4,pOzHft,5244621812878210,5244621812878210,5244621812878210,5244621812878210,0.000000
5,iamfTI,5244654310008210,5244654310008210,5244654310008210,5244654310008210,0.000000
6,fejWQm,5244260051609330,52442600516093/32,5244260051609330,5244260051609332,0.062500
7,defbuu,5336951632147890,5336951632147690496,5336951632147890,5336951632147690496,0.250000
8,xXsVkl,3323042301990000,3323042301990000,3323042301990000,3323042301990000,0.000000
9,LDUBDz,5244621811243450,5244 dan 6218,5244621811243450,52446218,0.500000
10,IkwvuR,5336933447891450,5336933447891450,5336933447891450,5336933447891450,0.000000
11,XXMirx,5336740901172630,5336740107409089536,5336740901172630,5336740107409089536,0.625000
12,uCrDqG,5336740901172630,533674092626,5336740901172630,533674092626,0.375000
13,Kzrjte,5336400012242000,400012244400,5336400012242000,400012244400,0.375000
14,pSomjZ,3323042301990000,3323042301990000,3323042301990000,3323042301990000,0.000000
15,CCUWeQ,5244621812878210,524462181287821,5244621812878210,524462181287821,0.062500
16,PNywPq,5244654310008210,524465438214,5244654310008210,524465438214,0.312500
17,giMmXj,5244260051609330,5244260051609330,5244260051609330,5244260051609330,0.000000
18,GGFHDy,5336951632147900,5336951632147900,5336951632147900,5336951632147900,0.000000
19,NaN,3323042301990000,33230423,3323042301990000,33230423,0.500000
20,NXwePv,5244621811243450,52446218,5244621811243450,52446218,0.500000
21,ilTtKc,5336933447891450,5336933447891460,5336933447891450,5336933447891460,0.062500
22,NPeExN,5336740000000000,67409000000000,5336740000000000,67409000000000,0.250000
23,zIKpCE,5336400000000000,5336 4000 4000 12 12 24 24,5336400000000000,53364000400012122424,0.562500
24,IaLwyJ,3323040000000000,A33,3323040000000000,33,0.875000
25,Jhrupw,5244620000000000,524462000000,5244620000000000,524462000000,0.250000
26,DdfhKH,5244650000000000,5244 8214,5244650000000000,52448214,0.750000
27,esUREQ,5244260000000000,52426 0051609332,5244260000000000,524260051609332,0.500000
28,VhVXED,5336950000000000,5336950000000000,5336950000000000,5336950000000000,0.000000
29,VJPhZY,33230 42301 9901,3323040000000000,33230423019901,3323040000000000,0.571429
30,OgLHqq,5244620000000000,5244620000000000,5244620000000000,5244620000000000,0.000000
31,dDxrgN,5336930000000000,533693000000,5336930000000000,533693000000,0.250000
32,IRJctw,5336740000000000,5336 0117 2626,5336740000000000,533601172626,0.687500
33,eoJcNt,5336400000000000,53640001224,5336400000000000,53640001224,0.562500
34,LcRQus,3323040000000000,3323040000000000,3323040000000000,3323040000000000,0.000000
35,oAuBPR,5244620000000000,5244 6218 8214,5244620000000000,524462188214,0.625000
36,iyqAhC,5244650000000000,5244-6543-1000-8214,5244650000000000,5244654310008214,0.437500
37,ZxLRNx,5244260000000000,NaN,5244260000000000,NaN,NaN
38,eJLBQp,5336950000000000,5336950000000000,5336950000000000,5336950000000000,0.000000
39,mLuYtF,3323040000000000,33234200000000,3323040000000000,33234200000000,0.187500
40,apngOU,5244620000000000,5244620000000000,5244620000000000,5244620000000000,0.000000
41,XIVrke,5336930000000000,533693000000,5336930000000000,533693000000,0.250000
42,wvKPCZ,5336740000000000,7409 2626 5336,5336740000000000,740926265336,0.812500
43,ipqsZV,5336400000000000,5336 4000,5336400000000000,53364000,0.500000
44,WFlnvl,3323040000000000,332302000000,3323040000000000,332302000000,0.312500
45,garokb,5244620000000000,5244 6218 1287 8214,5244620000000000,5244621812878214,0.625000
46,myKkSw,5244650000000000,524465000000,5244650000000000,524465000000,0.250000
47,TuUveh,5244260000000000,5244,5244260000000000,5244,0.750000
48,aDZlQA,5336950000000000,700612000000,5336950000000000,700612000000,0.562500
49,YKovDp,3323040000000000,332304000000,3323040000000000,332304000000,0.250000
50,dIVeRB,5244620000000000,5244 6218 112434534,5244620000000000,52446218112434534,0.687500
51,IrfIfL,5336930000000000,5336930000000000,5336930000000000,5336930000000000,0.000000

# GET DATA By Interaction ID

In [26]:
from google.cloud import bigquery
from collections import defaultdict

client = bigquery.Client()

grouped_transcript = defaultdict(list)
def get_transcript_by_interaction(interaction_id):
    get_transcript_by_interaction = f"""
        SELECT
          interaction_id,
          speaker_type,
          transcription
        FROM
          `genai-avengers.cimbniagagenai_ws4a.con_ws4a_rtaa_tbl_transcription`
        WHERE interaction_id = '{interaction_id}'
        order by interaction_id, createdon asc;
    """
    query_job = client.query(get_transcript_by_interaction)
    row_iterator_of_transcript = query_job.result()

    for row in row_iterator_of_transcript:
        # grouped_transcript[interaction_id].append(row[2])
        grouped_transcript[interaction_id].append({
            "role": row[1],
            "message": row[2],
        })

In [27]:
# for interaction_id in card_df['interaction_id'].unique():
#     get_transcript_by_interaction(interaction_id)

## SAVE DATA TO JSON

In [28]:
# # dict to json
# grouped_transcript_json = json.dumps(grouped_transcript)
#
# # save to json
# with open('transcript.json', 'w') as f:
#     f.write(grouped_transcript_json)

# load json to data frame

In [30]:
# load json
with open('transcript.json', 'r') as f:
    grouped_transcript = json.load(f)

# add transcript to data frame
card_df['transcript'] = card_df['interaction_id'].map(grouped_transcript)

In [31]:
card_df[['interaction_id', 'transcript']]

   interaction_id                                         transcript
0          yAysdV  [{'role': 'CCO', 'message': 'selamat siang agr...
1          oNeJTv  [{'role': 'CCO', 'message': 'selamat sore deng...
2          buRfJA  [{'role': 'CCO', 'message': 'begitu ya pak den...
3          vWXMGx  [{'role': 'CCO', 'message': 'selamat sore deng...
4          pOzHft  [{'role': 'CCO', 'message': 'selamat sore deng...
5          iamfTI  [{'role': 'CCO', 'message': 'selamat sore deng...
6          fejWQm  [{'role': 'CCO', 'message': 'selamat sore deng...
7          defbuu  [{'role': 'CCO', 'message': 'begitu dengan bap...
8          xXsVkl  [{'role': 'CCO', 'message': 'begitu dengan bap...
9          LDUBDz  [{'role': 'CCO', 'message': 'selamat sore deng...
10         IkwvuR  [{'role': 'CCO', 'message': 'sore pak'}, {'rol...
11         XXMirx                                                NaN
12         uCrDqG  [{'role': 'CCO', 'message': 'selamat siang den...
13         Kzrjte  [{'role': 'CCO', 'message': 'selamat siang den...
14         pSomjZ  [{'role': 'CCO', 'message': 'selamat sore deng...
15         CCUWeQ  [{'role': 'CCO', 'message': '5 2'}, {'role': '...
16         PNywPq  [{'role': 'CCO', 'message': 'selamat sore deng...
17         giMmXj  [{'role': 'Nasabah', 'message': 'mbak vira'}, ...
18         GGFHDy                                                NaN
19            NaN                                                NaN
20         NXwePv  [{'role': 'CCO', 'message': 'selamat sore deng...
21         ilTtKc  [{'role': 'CCO', 'message': 'ya'}, {'role': 'C...
22        NPeExN                                                 NaN
23         zIKpCE  [{'role': 'Nasabah', 'message': 'sore mbak nai...
24         IaLwyJ  [{'role': 'Nasabah', 'message': 'sore mbak nai...
25         Jhrupw  [{'role': 'CCO', 'message': 'selamat sore deng...
26         DdfhKH                                                NaN
27         esUREQ                                                NaN
28         VhVXED  [{'role': 'Nasabah', 'message': 'sore mana ira...
29         VJPhZY                                                NaN
30         OgLHqq                                                NaN
31         dDxrgN  [{'role': 'Nasabah', 'message': 'sore mana ora...
32         IRJctw                                                NaN
33         eoJcNt                                                NaN
34         LcRQus  [{'role': 'CCO', 'message': 'iya dengan bapak ...
35         oAuBPR  [{'role': 'CCO', 'message': 'selamat sore deng...
36         iyqAhC                                                NaN
37         ZxLRNx  [{'role': 'CCO', 'message': 'selamat sore deng...
38         eJLBQp  [{'role': 'Nasabah', 'message': 'saya merubah'...
39         mLuYtF  [{'role': 'Nasabah', 'message': 'halo selamat ...
40         apngOU  [{'role': 'CCO', 'message': 'selamat sore deng...
41         XIVrke  [{'role': 'CCO', 'message': 'selamat sore deng...
42         wvKPCZ                                                NaN
43         ipqsZV  [{'role': 'CCO', 'message': 'selamat sore deng...
44         WFlnvl  [{'role': 'CCO', 'message': 'selamat sore dan ...
45         garokb  [{'role': 'CCO', 'message': 'selamat sore deng...
46         myKkSw  [{'role': 'CCO', 'message': 'selamat sore deng...
47         TuUveh  [{'role': 'CCO', 'message': 'selamat sore deng...
48         aDZlQA  [{'role': 'CCO', 'message': 'miki bukannya sud...
49         YKovDp  [{'role': 'CCO', 'message': 'selamat sore deng...
50         dIVeRB                                                NaN
51         IrfIfL  [{'role': 'CCO', 'message': 'selamat sore deng...

In [32]:
import numpy as np
from evaluate import load
cer = load("cer")

def convert_to_number(text):
    if pd.isna(text):
        return np.nan
    text = str(text)
    numbers = ''.join(char for char in text if char.isdigit())

    return numbers if numbers else np.nan

def calculate_cer(expected, result):
    if pd.isna(expected) or pd.isna(result):
        print(expected, result)
        return np.nan

    predictions = [result]
    references = [expected]
    return float(cer.compute(predictions=predictions, references=references))

In [33]:
card_df.loc[card_df['interaction_id'] == 'yAysdV', 'google_stt'] = convert_to_number('5244621811243450')
card_df.loc[card_df['interaction_id'] == 'oNeJTv', 'google_stt'] = convert_to_number('5.367400 90117, 2626')
card_df.loc[card_df['interaction_id'] == 'buRfJA', 'google_stt'] = convert_to_number('5.36400012 24, 1995')
card_df.loc[card_df['interaction_id'] == 'vWXMGx', 'google_stt'] = convert_to_number('0423 0199,0001')
card_df.loc[card_df['interaction_id'] == 'pOzHft', 'google_stt'] = convert_to_number('5244 6218,1287 8214')

card_df.loc[card_df['interaction_id'] == 'iamfTI', 'google_stt'] = convert_to_number('5 2 4 4 6 5 4 3 1 0 0 8 2 1 4')
card_df.loc[card_df['interaction_id'] == 'fejWQm', 'google_stt'] = convert_to_number('5244 260051609 3/32')
# card_df.loc[card_df['interaction_id'] == 'buRfJA', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'xXsVkl', 'google_stt'] = convert_to_number('33230 42301,99001')
card_df.loc[card_df['interaction_id'] == 'LDUBDz', 'google_stt'] = convert_to_number('5, 2 4 4 6 2 1 8 1 1 2 4 3 4 5 3')

# card_df.loc[card_df['interaction_id'] == 'yAysdV', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'oNeJTv', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'buRfJA', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'vWXMGx', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'pOzHft', 'google_stt'] = convert_to_number('')

card_df.loc[card_df['interaction_id'] == 'IkwvuR', 'google_stt'] = convert_to_number('533 6 9 3 3 4 4 78 9 1 4 56')
# card_df.loc[card_df['interaction_id'] == 'XXMirx', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'uCrDqG', 'google_stt'] = convert_to_number('533674092626')
card_df.loc[card_df['interaction_id'] == 'Kzrjte', 'google_stt'] = convert_to_number('5336400122444001995')
card_df.loc[card_df['interaction_id'] == 'pSomjZ', 'google_stt'] = convert_to_number('3323042301990001')

card_df.loc[card_df['interaction_id'] == 'CCUWeQ', 'google_stt'] = convert_to_number('5, 2 4 4 6 2 1 8 1 2 8 7 8 2 1/4,')
card_df.loc[card_df['interaction_id'] == 'PNywPq', 'google_stt'] = convert_to_number('5 2 4 4 6 5 4 31 0 0 8 2 1 4')
card_df.loc[card_df['interaction_id'] == 'giMmXj', 'google_stt'] = convert_to_number('5244260051609332')
# card_df.loc[card_df['interaction_id'] == 'GGFHDy', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'pOzHft', 'google_stt'] = convert_to_number('')

card_df.loc[card_df['interaction_id'] == 'NXwePv', 'google_stt'] = convert_to_number('52461 81124 3453')
# card_df.loc[card_df['interaction_id'] == 'ilTtKc', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'NPeExN', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'zIKpCE', 'google_stt'] = convert_to_number('5336400012241995')
card_df.loc[card_df['interaction_id'] == 'IaLwyJ', 'google_stt'] = convert_to_number('332304230199001')

# card_df.loc[card_df['interaction_id'] == 'Jhrupw', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'DdfhKH', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'esUREQ', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'VhVXED', 'google_stt'] = convert_to_number('533695 1632 14 7 8 9 7')
# card_df.loc[card_df['interaction_id'] == 'pOzHVJPhZYft', 'google_stt'] = convert_to_number('')

# card_df.loc[card_df['interaction_id'] == 'OgLHqq', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'dDxrgN', 'google_stt'] = convert_to_number('5 3 3 6, 9 3 3 4, 4 7 8 9, 16')
# card_df.loc[card_df['interaction_id'] == 'IRJctw', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'eoJcNt', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'LcRQus', 'google_stt'] = convert_to_number('')

card_df.loc[card_df['interaction_id'] == 'oAuBPR', 'google_stt'] = convert_to_number('524462186218')
# card_df.loc[card_df['interaction_id'] == 'iyqAhC', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'ZxLRNx', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'eJLBQp', 'google_stt'] = convert_to_number('5 3 3 6 9 5')
# card_df.loc[card_df['interaction_id'] == 'mLuYtF', 'google_stt'] = convert_to_number('')

# card_df.loc[card_df['interaction_id'] == 'apngOU', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'XIVrke', 'google_stt'] = convert_to_number('53 3 6 9 3 3 4 4 7 8 9')
# card_df.loc[card_df['interaction_id'] == 'wvKPCZ', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'ipqsZV', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'WFlnvl', 'google_stt'] = convert_to_number('042301990001')

card_df.loc[card_df['interaction_id'] == 'garokb', 'google_stt'] = convert_to_number('5244621812878214')
# card_df.loc[card_df['interaction_id'] == 'myKkSw', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'TuUveh', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'aDZlQA', 'google_stt'] = convert_to_number('')
# card_df.loc[card_df['interaction_id'] == 'YKovDp', 'google_stt'] = convert_to_number('')

# card_df.loc[card_df['interaction_id'] == 'dIVeRB', 'google_stt'] = convert_to_number('')
card_df.loc[card_df['interaction_id'] == 'IrfIfL', 'google_stt'] = convert_to_number('533 6 9 3 3 4 4 7 8 9')

In [34]:
test = card_df[['interaction_id', 'transcript', 'Cleaned Disebutkan', 'google_stt']]
test.iloc[50:55]

,interaction_id,transcript,Cleaned Disebutkan,google_stt
50,dIVeRB,NaN,5244620000000000,NaN
51,IrfIfL,"[{'role': 'CCO', 'message': 'selamat sore deng...",5336930000000000,533693344789

In [35]:
card_df['google_stt_cer'] = card_df.apply(lambda row: calculate_cer(str(row['Cleaned Disebutkan']), str(row['google_stt'])), axis=1)

card_df['llm_vs_google_stt_cer'] = card_df.apply(lambda row: calculate_cer(row['google_stt'], str(row['Cleaned Summary'])), axis=1)

card_df[['interaction_id', 'Cleaned Disebutkan', 'Cleaned Summary', 'google_stt', 'llm_vs_google_stt_cer']]

nan 5336951632147690496
nan 5336740107409089536
nan 5336951632147900
nan 33230423
nan 5336933447891460
nan 67409000000000
nan 524462000000
nan 52448214
nan 524260051609332
nan 3323040000000000
nan 5244620000000000
nan 533601172626
nan 53640001224
nan 3323040000000000
nan 5244654310008214
nan nan
nan 5336950000000000
nan 33234200000000
nan 5244620000000000
nan 740926265336
nan 53364000
nan 524465000000
nan 5244
nan 700612000000
nan 332304000000
nan 52446218112434534

,interaction_id,Cleaned Disebutkan,Cleaned Summary,google_stt,llm_vs_google_stt_cer
0,yAysdV,5244621811243450,52446121811243400,5244621811243450,0.125000
1,oNeJTv,5336740901172620,533674090117,5367400901172626,0.375000
2,buRfJA,5336400012241990,533640001224,536400012241995,0.333333
3,vWXMGx,3323042301990000,42301999000,042301990001,0.250000
4,pOzHft,5244621812878210,5244621812878210,5244621812878214,0.062500
5,iamfTI,5244654310008210,5244654310008210,524465431008214,0.133333
6,fejWQm,5244260051609330,5244260051609332,5244260051609332,0.000000
7,defbuu,5336951632147890,5336951632147690496,NaN,NaN
8,xXsVkl,3323042301990000,3323042301990000,332304230199001,0.133333
9,LDUBDz,5244621811243450,52446218,5244621811243453,0.500000
10,IkwvuR,5336933447891450,5336933447891450,5336933447891456,0.062500
11,XXMirx,5336740901172630,5336740107409089536,NaN,NaN
12,uCrDqG,5336740901172630,533674092626,533674092626,0.000000
13,Kzrjte,5336400012242000,400012244400,5336400122444001995,0.473684
14,pSomjZ,3323042301990000,3323042301990000,3323042301990001,0.062500
15,CCUWeQ,5244621812878210,524462181287821,5244621812878214,0.062500
16,PNywPq,5244654310008210,524465438214,524465431008214,0.200000
17,giMmXj,5244260051609330,5244260051609330,5244260051609332,0.062500
18,GGFHDy,5336951632147900,5336951632147900,NaN,NaN
19,NaN,3323042301990000,33230423,NaN,NaN
20,NXwePv,5244621811243450,52446218,52461811243453,0.714286
21,ilTtKc,5336933447891450,5336933447891460,NaN,NaN
22,NPeExN,5336740000000000,67409000000000,NaN,NaN
23,zIKpCE,5336400000000000,53364000400012122424,5336400012241995,0.625000
24,IaLwyJ,3323040000000000,33,332304230199001,0.866667
25,Jhrupw,5244620000000000,524462000000,NaN,NaN
26,DdfhKH,5244650000000000,52448214,NaN,NaN
27,esUREQ,5244260000000000,524260051609332,NaN,NaN
28,VhVXED,5336950000000000,5336950000000000,5336951632147897,0.625000
29,VJPhZY,33230423019901,3323040000000000,NaN,NaN
30,OgLHqq,5244620000000000,5244620000000000,NaN,NaN
31,dDxrgN,5336930000000000,533693000000,53369334478916,0.571429
32,IRJctw,5336740000000000,533601172626,NaN,NaN
33,eoJcNt,5336400000000000,53640001224,NaN,NaN
34,LcRQus,3323040000000000,3323040000000000,NaN,NaN
35,oAuBPR,5244620000000000,524462188214,524462186218,0.166667
36,iyqAhC,5244650000000000,5244654310008214,NaN,NaN
37,ZxLRNx,5244260000000000,NaN,NaN,NaN
38,eJLBQp,5336950000000000,5336950000000000,NaN,NaN
39,mLuYtF,3323040000000000,33234200000000,NaN,NaN
40,apngOU,5244620000000000,5244620000000000,NaN,NaN
41,XIVrke,5336930000000000,533693000000,533693344789,0.500000
42,wvKPCZ,5336740000000000,740926265336,NaN,NaN
43,ipqsZV,5336400000000000,53364000,NaN,NaN
44,WFlnvl,3323040000000000,332302000000,042301990001,0.500000
45,garokb,5244620000000000,5244621812878214,5244621812878214,0.000000
46,myKkSw,5244650000000000,524465000000,NaN,NaN
47,TuUveh,5244260000000000,5244,NaN,NaN
48,aDZlQA,5336950000000000,700612000000,NaN,NaN
49,YKovDp,3323040000000000,332304000000,NaN,NaN
50,dIVeRB,5244620000000000,52446218112434534,NaN,NaN
51,IrfIfL,5336930000000000,5336930000000000,533693344789,0.833333

In [13]:
# export dataframe to excell
card_df.to_excel('result/google_stt_accuracy.xlsx')

In [16]:
test = card_df[['interaction_id', 'Cleaned Summary', 'google_stt', 'llm_vs_google_stt_cer']]
test.loc[test['interaction_id'] == 'NXwePv']

   interaction_id Cleaned Summary      google_stt  llm_vs_google_stt_cer
20         NXwePv        52446218  52461811243453               0.714286