# Import Excel

In [10]:
import pandas as pd
# read file from excel
df = pd.read_excel('../../clean_data/disposition_code_ref_table_cleaned.xlsx')
df.drop(columns=["Konkatenasi_Layer123"], inplace=True)
df

              Layer 1   Layer 2                      Layer 3
0            Complain       ATM         Barang Jatuh Di Area
1            Complain       ATM                  Gagal Tarik
2            Complain       ATM              Gagal Transaksi
3            Complain       ATM     Jumlah Uang Tidak Sesuai
4            Complain       ATM      Kebersihan/ Kelengkapan
...               ...       ...                          ...
1143  Campaign/ Sales       KTA  Sales Done CC KTP Non Leads
1144  Campaign/ Sales       KTA           Sales Unidentified
1145         Eskalasi  Eskalasi            Kontak  VDN Staff
1146         Eskalasi  Eskalasi              Kontak POH/ SPV
1147         Eskalasi  Eskalasi          Kontak Other Places

[1148 rows x 3 columns]

# Create JSON file for mapping

In [11]:
import json

action_product_to_detail = {}

for _, row in df.iterrows():
    action_product, detail =f"{row.iloc[0].strip()}|{row.iloc[1].strip()}", row.iloc[2].strip()

    if action_product not in action_product_to_detail:
        action_product_to_detail[action_product] = []

    if detail not in action_product_to_detail[action_product]:
        action_product_to_detail[action_product].append(detail)

result = json.dumps(action_product_to_detail, indent=2)

# create json file
with open("action_product_to_detail.json", "w") as f:
    f.write(result)