# Import Excel

In [1]:
import pandas as pd
# read file from excel
df = pd.read_excel('../../../clean_data/disposition_code_ref_table_cleaned.xlsx')
df.drop(columns=["Konkatenasi_Layer123"], inplace=True)
df

              Layer 1   Layer 2                      Layer 3
0            Complain       ATM         Barang Jatuh Di Area
1            Complain       ATM                  Gagal Tarik
2            Complain       ATM              Gagal Transaksi
3            Complain       ATM     Jumlah Uang Tidak Sesuai
4            Complain       ATM      Kebersihan/ Kelengkapan
...               ...       ...                          ...
1143  Campaign/ Sales       KTA  Sales Done CC KTP Non Leads
1144  Campaign/ Sales       KTA           Sales Unidentified
1145         Eskalasi  Eskalasi            Kontak  VDN Staff
1146         Eskalasi  Eskalasi              Kontak POH/ SPV
1147         Eskalasi  Eskalasi          Kontak Other Places

[1148 rows x 3 columns]

# Create JSON file for mapping

In [3]:
import json

list_of_option = {}
list_of_option["value"] = []

for _, row in df.iterrows():
    if row.iloc[0].strip() not in list_of_option["value"]:
        list_of_option["value"].append(row.iloc[0].strip())

result = json.dumps(list_of_option, indent=2)

# create json file
with open("list_of_option.json", "w") as f:
    f.write(result)